<div>  
  <h4 class="alert">Bolsa de Puntos</h4>
</div>  

<button mat-raised-button class="fabButton natura-button-1" mat-fab color="primary" (click)="onclickAgregar()">
  <mat-icon>monetization_on</mat-icon>
</button>

<div class="row">
  <div class="col-md-3 p-3">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
          </div>
          <select [(ngModel)]='datos.idCliente' class="custom-select" id="inputGroupSelect01">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>  
          </select>
        </div>
  </div>
  <div class="col-md-3 p-3"><div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Vencido</label>
      </div>
      <select [(ngModel)]='datos.vencido' class="custom-select" id="inputGroupSelect01">
        <option value="S">Si</option>
        <option value="N">No</option>   
      </select>
  </div></div>
    <div class="col-md-3 p-3"><div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Dias para Vencimiento</span>
        </div>
        <input type="number" [(ngModel)] = 'datos.cantidad' class="form-control"  min="1" max="100" >
      </div></div>
      
</div>

<div class="row"><div class="col-md-3 p-3">
  <button  type="button" class="btn btn-info mx-auto" (click)='filtrar()'>Filtrar</button>
  <button type="button" class="btn btn-dark ml-2" (click)='resetear()'>Limpiar</button>
</div></div>
<table class="table table-bordered" style="margin:10px">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha de signacion</th>
        <th scope="col">Fecha de Caducidad</th>
        <th scope="col">Puntaje asignado</th>
        <th scope="col">Puntaje Utilizado</th>
        <th scope="col">Saldo de puntos</th>
        <th scope="col">Monto de Operacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bolsa of bolsas">
        <th scope="row">{{ bolsa.id}}</th>
        <td>{{ bolsa.cliente_nombre}}</td>
        <td>{{ bolsa.fecha_asignacion }}</td>
        <td>{{ bolsa.fecha_caducidad }}</td>
        <td>{{ bolsa.puntaje_asignado }}</td>
        <td>{{ bolsa.puntaje_utilizado }}</td>
        <td>{{ bolsa.saldo_puntos }}</td>
        <td>{{ bolsa.monto_operacion }}</td>
      </tr>   
    </tbody>
</table>




