<div>  
  <h4 class="alert">Editar Parametros</h4>
</div>  

<div class="aligner"  *ngIf="form">
  <form [formGroup] = 'form' (ngSubmit)="onSubmit()">  
    <!--div gral-->
    <div class="example-container">
      <!--div bloque 1-->  
        <p>  
          <mat-form-field class="example-full-width">
            <mat-label>Fecha Inicio</mat-label>
            <input formControlName = "fecha_inicio" matInput placeholder="Fecha Inicio" type="text" required="fecha_inicio">
            <mat-icon matSuffix class="icono">person</mat-icon>
          </mat-form-field>
        </p>
        <p>  
          <mat-form-field class="example-full-width">
            <mat-label>Fecha Fin</mat-label>
            <input formControlName = "fecha_fin" matInput placeholder="Fecha Fin" type="text" required="fecha_fin">
            <mat-icon matSuffix class="icono">person</mat-icon>
          </mat-form-field>
        </p>
        <p>  
          <mat-form-field class="example-full-width">
            <mat-label>Duracion</mat-label>
            <input formControlName = "duracion" matInput placeholder="Duracion" type="number">
            <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
          </mat-form-field>
        </p>
    </div>
    <div class="example-button-row">   
        <button mat-raised-button color="accent" (click)="onclickBack()" >Volver</button>
        <button mat-flat-button color="primary" (click)="onSubmit()">Guardar</button>
    </div>  
  </form>
</div>
  
