<div>  
  <h4 class="alert">Editar Regla</h4>
</div>  

<div class="aligner"  *ngIf="form">
  <form [formGroup] = 'form' (ngSubmit)="onSubmit()">  
    <!--div gral-->
    <div class="example-container">
      <!--div bloque 1-->  
        <p>  
          <mat-form-field class="example-full-width">
            <mat-label>#</mat-label>
            <input formControlName = "id" matInput placeholder="ID">
            <mat-icon matSuffix class="icono">person</mat-icon>
          </mat-form-field>
        </p>
        <p>  
          <mat-form-field class="example-full-width">
            <mat-label>Limite Inferior</mat-label>
            <input formControlName = "limite_inferior" matInput placeholder="Limite Inferior" type="number" required id="limite_inferior">
            <mat-icon matSuffix class="icono">person</mat-icon>
          </mat-form-field>
        </p>
        <p>  
          <mat-form-field class="example-full-width">
            <mat-label>Limite Superior</mat-label>
            <input formControlName = "limite_superior" matInput placeholder="Limite Superior" type="number" required id="limite_superior">
            <mat-icon matSuffix class="icono">person</mat-icon>
          </mat-form-field>
        </p>
        <p>  
          <mat-form-field class="example-full-width">
            <mat-label>Monto Equivalente</mat-label>
            <input formControlName = "monto_equivalente" matInput placeholder="Monto Equivalente" type="number">
            <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
          </mat-form-field>
        </p>
    </div>
    <div class="example-button-row">   
        <button mat-raised-button color="accent" (click)="onclickBack()" >Volver</button>
        <button mat-flat-button color="primary" (click)="onSubmit()">Guardar</button>
    </div>  
  </form>
</div>
  
