<form [formGroup]='gastarForm' class="form-signin" (ngSubmit)="onSubmit(gastarForm)" novalidate>
  <div class="text-center mb-4">
    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Usar vales</h1>
    <p>Completa los campos para disfrutar de los beneficios</p>
  </div>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
      </div>
      <select formControlName='id_cliente' class="custom-select" id="inputGroupSelect01">
        <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>  
      </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Concepto</label>
        </div>
        <select formControlName='id_concepto'class="custom-select" id="inputGroupSelect01">
          <option *ngFor="let concepto of conceptos" [value]="concepto.id">{{ concepto.descripcion }}</option>  
        </select>
      </div>

 
  <button [disabled]='!gastarForm.valid' class="btn btn-info btn-block" type="submit">Confirmar</button>

</form>