<div>  
    <h4 class="alert">Listado de Reglas</h4>
</div>  

<mat-form-field  appearance="outline" style="margin: 10px">
    <mat-label>Buscar Regla</mat-label>
    <input id="buscador" matInput (keyup)="applyFilter($event.target.value)">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
 
<button mat-raised-button class="fabButton natura-button-1" mat-fab color="primary" (click)="onclickAgregar()">
    <mat-icon>person_add</mat-icon>
</button>

<div class="example-container mat-elevation-z8">  
  <mat-table #Table [dataSource]="MyDataSource" matSort>  
    <!-- For limite_inferior -->  
    <ng-container matColumnDef="limite_inferior">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Limite Inferior </mat-header-cell>  
      <mat-cell *matCellDef="let regla"> {{regla.limite_inferior}} </mat-cell>  
    </ng-container>  
    <!-- For limite_superior -->  
    <ng-container matColumnDef="limite_superior">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Limite Superior </mat-header-cell>  
        <mat-cell *matCellDef="let regla"> {{regla.limite_superior}} </mat-cell>  
    </ng-container>  
    <!-- For nro_documento -->  
    <ng-container matColumnDef="monto_equivalente">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Monto Equivalente </mat-header-cell>  
        <mat-cell *matCellDef="let regla"> {{regla.monto_equivalente}} </mat-cell>  
    </ng-container> 
    <!-- Columna Accion -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>  
      <mat-cell *matCellDef="let regla">   
          <button mat-icon-button [routerLink]="['editar/'+regla.id]">
            <mat-icon  class="icono">edit</mat-icon>
        </button> 

        <button mat-icon-button (click)="onDeleteRegla(regla.id)" >
          <mat-icon  class="icono">delete</mat-icon>
      </button> 
      </mat-cell> 
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- To paginate between pages with search -->
  <mat-paginator #paginator [pageSize]="5" >
  </mat-paginator>
</div>