<div >  
  <h4 class="alert">Listado de Parametrizacion</h4>
</div>  


<mat-form-field  appearance="outline" style="margin: 10px">
  <mat-label>Buscar Parametros</mat-label>
  <input id="buscador" matInput (keyup)="applyFilter($event.target.value)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button mat-raised-button class="fabButton natura-button-1" mat-fab color="primary" (click)="onclickAgregar()">
  <mat-icon>person_add</mat-icon>
</button>

<div class="example-container mat-elevation-z8">  
<mat-table #Table [dataSource]="MyDataSource" matSort>  
  <!-- For name -->  
  <ng-container matColumnDef="fecha_inicio">  
    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </mat-header-cell>  
    <mat-cell *matCellDef="let parametrizacion"> {{parametrizacion.fecha_inicio}} </mat-cell>  
  </ng-container>  

  <!-- For lastname -->  
  <ng-container matColumnDef="fecha_fin">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </mat-header-cell>  
      <mat-cell *matCellDef="let parametrizacion"> {{parametrizacion.fecha_fin}} </mat-cell>  
  </ng-container>  
  <!-- For nro_documento -->  
  <ng-container matColumnDef="duracion">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Duracion </mat-header-cell>  
      <mat-cell *matCellDef="let parametrizacion"> {{parametrizacion.duracion}} </mat-cell>  
  </ng-container> 
  
  <!-- Columna Accion -->
  <ng-container matColumnDef="accion">
    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>  
    <mat-cell *matCellDef="let parametrizacion">   
        <button mat-icon-button [routerLink]="['editar/'+parametrizacion.id]">
          <mat-icon  class="icono">edit</mat-icon>
      </button> 

      <button mat-icon-button (click)="onDeleteCliente(parametrizacion.id)" >
        <mat-icon  class="icono">delete</mat-icon>
    </button> 
    </mat-cell> 
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
</mat-table>  

<!-- To paginate between pages with search -->  
<mat-paginator #paginator [pageSize]="5" > 
</mat-paginator>  
</div>  


