<div >  
  <h4 class="alert">Listado de Conceptos</h4>
</div>  
<mat-form-field  appearance="outline" style="margin: 10px">
  <mat-label>Buscar Concepto</mat-label>
  <input id="buscador" matInput (keyup)="applyFilter($event.target.value)">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<button mat-raised-button class="fabButton natura-button-1" mat-fab color="primary" (click)="onclickAgregar()">
  <mat-icon>monetization_on</mat-icon>
</button>

<div class="example-container mat-elevation-z8">  
<mat-table #Table [dataSource]="MyDataSource" matSort>  
  <!-- For name -->  
  <ng-container matColumnDef="descripcion">  
    <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>  
    <mat-cell *matCellDef="let concepto"> {{concepto.descripcion}} </mat-cell>  
  </ng-container>  

  <!-- For lastname -->  
  <ng-container matColumnDef="puntos">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Puntos </mat-header-cell>  
      <mat-cell *matCellDef="let concepto"> {{concepto.puntos}} </mat-cell>  
  </ng-container>  
  <!-- Columna Accion -->
  <ng-container matColumnDef="accion">
    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>  
    <mat-cell *matCellDef="let concepto">   
      <button mat-icon-button [routerLink]="['editar/'+concepto.id]">
      <mat-icon  class="icono">edit</mat-icon>
      </button> 

      <button mat-icon-button (click)="onDeleteConcepto(concepto.id)" >
      <mat-icon  class="icono">delete</mat-icon>
      </button> 
    </mat-cell> 
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
</mat-table>  

<!-- To paginate between pages with search -->  
<mat-paginator #paginator [pageSize]="5" > 
</mat-paginator>  
</div>  


