<div>  
  <h4 class="alert">Agregar Regla</h4>
</div>  

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
    <p><mat-form-field class="example-full-width">
      <mat-label>Limite Inferior</mat-label>
      <input formControlName = "limite_inferior" matInput placeholder="Limite Inferior" type="number" required id="limite_inferior">
      <mat-icon matSuffix class="icono">person</mat-icon>
    </mat-form-field></p>
    <p>  
      <mat-form-field class="example-full-width">
        <mat-label>Limite Superior</mat-label>
        <input formControlName = "limite_superior" matInput placeholder="Limite Superior" type="number" required id="limite_superior">
        <mat-icon matSuffix class="icono">person</mat-icon>
      </mat-form-field>
    </p>
    <p>  
      <mat-form-field class="example-full-width">
        <mat-label>Monto Equivalente</mat-label>
        <input formControlName = "monto_equivalente" matInput placeholder="Monto Equivalente" type="number">
        <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
      </mat-form-field>
    </p>
  </div>
  <button  type="submit" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
