<div>  
  <h4 class="alert">Crear Bolsas</h4>
</div>  

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
    <p><mat-form-field class="example-full-width">
      <mat-label>Cliente</mat-label>
      <input formControlName = "id_cliente" matInput placeholder="Cliente" type="number" required="id_cliente">
      <mat-icon matSuffix class="icono">edit</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Monto Operacion</mat-label>
        <input formControlName = "monto_operacion" matInput placeholder="Monto Operacion" type="number" required="monto_operacion">
        <mat-icon matSuffix class="icono">attach_money</mat-icon>
      </mat-form-field>
    </p>
  </div>
  <button  type="submit" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
