.tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100px; 
    background: rgb(95, 95, 95);  
 }

 .barraNavegacion{
    background:black;
  }
  
  .opcion{
    color: rgba(179, 179 , 179, 100);
    padding: 70px;
  }
  
  .opcion:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+0,7b1a52+0,db1943+54,ea5a18+100 */
  background: #f3c5bd; /* Old browsers */
  background: -moz-linear-gradient(left, #f3c5bd 0%, #272650 0%, #361c5f 0%, #db1943 54%, #185bea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f3c5bd 0%, #272650 0%, #361c5f 0%, #db1943 54%, #253863 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f3c5bd 0%, #272650 0%, #361c5f 0%, #db1943 54%, #253863 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#ea5a18',GradientType=1 ); /* IE6-9 */
    color: white;
  
  }
  
  #titulo{
    color: white;
  }

  .lista{
    background: #353535; 
  }
  