<div>  
  <h4 class="alert">Uso de Puntos</h4>
</div>  

<div class="row">
  <div class="col-md-2 p-2">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
          </div>
          <select [(ngModel)]='datos.idCliente' class="custom-select" id="inputGroupSelect01">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>  
          </select>
        </div>
  </div>
  <div class="col-md-2 p-2">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Concepto</label>
          </div>
          <select [(ngModel)]='datos.idConcepto' class="custom-select" id="inputGroupSelect01">
            <option *ngFor="let concepto of conceptos" [value]="concepto.id">{{ concepto.descripcion }}</option>  
          </select>
        </div>
  </div>

  <div class="col-md-2 p-2"><div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Desde</span>
        </div>
        <input type="date" [(ngModel)] = 'datos.fechaDesde' class="form-control">
  </div></div>
  <div class="col-md-2 p-2"><div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Hasta</span>
      </div>
      <input type="date" [(ngModel)] = 'datos.fechaHasta' class="form-control" >
  </div></div>
  <div class="col-md-1 p-2" >
  <button  type="button" class="btn btn-info mx-auto" (click)='filtrar()'>Filtrar</button>
  </div>
  <div class="col-md-0 p-2" >
    <button type="button" class="btn btn-dark ml-2" (click)='resetear()'>Limpiar</button>
  </div> 
</div>

  <table class="table table-bordered">
    <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Cliente</th>
    <th scope="col">Puntos Utilizados</th>
    <th scope="col">Fecha</th>
    <th scope="col">Concepto</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let usopunto of usopuntos">
    <th scope="row">{{ usopunto.id}}</th>
    <td>{{ usopunto.nombre_cliente}}</td>
    <td>{{ usopunto.puntaje_utilizado }}</td>
    <td>{{ usopunto.fecha | date: 'dd/MM/yyyy' }}</td>
    <td>{{ usopunto.descripcion_concepto }}</td>
  </tr>

  </tbody>
  </table>
