<div>  
  <h4 class="alert">Crear Parametros</h4>
</div>  

<form [formGroup] = 'form' (ngSubmit)="onSubmit()">
  <div class="example-container">
    <p><mat-form-field class="example-full-width">
      <mat-label>Fecha Inicio</mat-label>
      <input formControlName = "fecha_inicio" matInput placeholder="Fecha Inicio" type="text" required ="fecha_inicio">
      <mat-icon matSuffix class="icono">date</mat-icon>
    </mat-form-field></p>
    <p>  
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Fin</mat-label>
        <input formControlName = "fecha_fin" matInput placeholder="Fecha Fin" type="text" required="fecha_fin">
        <mat-icon matSuffix class="icono">date</mat-icon>
      </mat-form-field>
    </p>
    <p>  
      <mat-form-field class="example-full-width">
        <mat-label>Duracion</mat-label>
        <input formControlName = "duracion" matInput placeholder="Duracion" type="number">
        <mat-icon matSuffix class="icono">picture_in_picture</mat-icon>
      </mat-form-field>
    </p>
    </div>
  <button  type="submit" mat-raised-button mat-fab [disabled]="form.invalid" class="fabButton"><mat-icon>save</mat-icon></button>
</form>
