<div>  
    <h4 class="alert">Listado de Clientes</h4>
</div>  


<mat-form-field  appearance="outline" style="margin: 10px">
    <mat-label>Buscar Cliente</mat-label>
    <input id="buscador" matInput (keyup)="applyFilter($event.target.value)">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
 
<button mat-raised-button class="fabButton natura-button-1" mat-fab color="primary" (click)="onclickAgregar()">
    <mat-icon>person_add</mat-icon>
</button>

<div class="example-container mat-elevation-z8">  
  <mat-table #Table [dataSource]="MyDataSource" matSort>  
    <!-- For name -->  
    <ng-container matColumnDef="nombre">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>  
      <mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </mat-cell>  
    </ng-container>  

    <!-- For lastname -->  
    <ng-container matColumnDef="apellido">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>  
        <mat-cell *matCellDef="let cliente"> {{cliente.apellido}} </mat-cell>  
    </ng-container>  
    <!-- For nro_documento -->  
    <ng-container matColumnDef="nro_documento">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nro Documento </mat-header-cell>  
        <mat-cell *matCellDef="let cliente"> {{cliente.nro_documento}} </mat-cell>  
    </ng-container> 
    <!-- For horaInicio -->  
    <ng-container matColumnDef="tipo_documento">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </mat-header-cell>  
        <mat-cell *matCellDef="let cliente"> {{cliente.tipo_documento}} </mat-cell>  
    </ng-container>  

    <!-- For horaFin -->  
    <ng-container matColumnDef="nacionalidad">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nacionalidad </mat-header-cell>  
      <mat-cell *matCellDef="let cliente"> {{cliente.nacionalidad}} </mat-cell>  
    </ng-container>   
        
    <!-- For sucursalServicio -->  
    <ng-container matColumnDef="email">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>  
      <mat-cell *matCellDef="let cliente"> {{cliente.email}} </mat-cell>  
    </ng-container>      

    <!-- For Empleado -->  
    <ng-container matColumnDef="telefono">  
      <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>  
      <mat-cell *matCellDef="let cliente"> {{cliente.telefono}} </mat-cell>  
    </ng-container>   
    <!-- Columna Accion -->
    <ng-container matColumnDef="accion">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>  
      <mat-cell *matCellDef="let cliente">   
          <button mat-icon-button [routerLink]="['editar/'+cliente.id]">
            <mat-icon  class="icono">edit</mat-icon>
        </button> 

        <button mat-icon-button (click)="onDeleteCliente(cliente.id)" >
          <mat-icon  class="icono">delete</mat-icon>
      </button> 
      </mat-cell> 
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
  </mat-table>  

  <!-- To paginate between pages with search -->  
  <mat-paginator #paginator [pageSize]="5" > 
  </mat-paginator>  
</div>  


